<div id="container" class="container-fluid">
    <div class="row">
        <h1 id="tituloDetail">{{ titulo }}</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="inputFabricante" class="col-sm-2 col-form-label">Fabricante:</label>
                <div class="col-sm-10">
                    <input [disabled]="tipo == 'DETAIL'" [(ngModel)]="tipoAvion.fabricante" type="text" class="form-control"
                        id="inputFabricante">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="inputModelo" class="col-sm-2 col-form-label">Modelo:</label>
                <div class="col-sm-10">
                    <input [disabled]="tipo == 'DETAIL'" [(ngModel)]="tipoAvion.modelo" type="text" class="form-control"
                        id="inputModelo">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="inputModelo" class="col-sm-2 col-form-label">Alcance:</label>
                <div class="col-sm-10">
                    <select [disabled]="tipo == 'DETAIL'" class="form-control" [(ngModel)]="tipoAvion.alcance">
                        <option value="corto">Corto</option>
                        <option value="medio">Medio</option>
                        <option value="largo">Largo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="inputAnio" class="col-sm-2 col-form-label">Año de comienzo de fabricación:</label>
                <div class="col-sm-10">
                    <input [disabled]="tipo == 'DETAIL'" [(ngModel)]="tipoAvion.anioComienzoFabricacion" type="number" class="form-control"
                        id="inputAnio">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="inputModelo" class="col-sm-2 col-form-label">Tipo:</label>
                <div class="col-sm-10">
                    <select [disabled]="tipo == 'DETAIL'" class="form-control" [(ngModel)]="tipoAvion.tipo">
                        <option value="comercial">Comercial</option>
                        <option value="militar">Militar</option>
                        <option value="carga">Carga</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="inputModelo" class="col-sm-2 col-form-label">Fuselaje:</label>
                <div class="col-sm-10">
                    <select [disabled]="tipo == 'DETAIL'" class="form-control" [(ngModel)]="tipoAvion.fuselaje">
                        <option value="ancho">Ancho</option>
                        <option value="estrecho">Estrecho</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="botones" class="row">
        <div class="col-md-10">
            <button id="btnCancelar" (click)="cancelar()" *ngIf="tipo != 'DETAIL'"
                class="btn btn-outline-secondary">Cancelar</button>
            <span *ngIf="tipo == 'DETAIL'">
                <button (click)="volver()" class="btn btn-outline-secondary">Volver</button>
                &nbsp;
                <button (click)="abrirModal()" class="btn btn-outline-danger">Eliminar</button>
                &nbsp;
                <button (click)="cambiarTipo('EDIT')" class="btn btn-outline-primary">Editar</button>
            </span>
        </div>
        <div class="col-md-2">
            <button (click)="guardar()" *ngIf="tipo != 'DETAIL'" class="btn btn-outline-primary"
                [disabled]="tipoAvion.fabricante == null || tipoAvion.modelo == null || tipoAvion.alcance == null ||
             tipoAvion.anioComienzoFabricacion == null || tipoAvion.tipo == null || tipoAvion.fuselaje == null ">Guardar</button>
        </div>
    </div>
</div>