<div class="container-fluid">
    <div class="row">
        <h1 style="width: 100%; text-align: center;">Compañías</h1>
    </div>
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <label for="typeahead-basic">Buscar:</label>
            <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="busqueda" placeholder="Introduce el nombre"/>
        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6" style="text-align: right;">
            <button class="btn btn-outline-primary">Nueva</button>
        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Indicativo</th>
                        <th scope="col">Compañía</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let compania of companias; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ compania.indicativo }}</td>
                        <td>{{ compania.nombre }}</td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
</div>