<div>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-title">Tipos de Aviones</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div style="padding-left: 20%; padding-right: 20%;" class="modal-body">

        <div>
            <div class="md-3">&nbsp;</div>
            <div class="md-6">
                <h4 *ngIf="activo.fabricante">Elegido: {{ activo.fabricante }} | {{ activo.modelo }}</h4>
                <br>
                <label for="typeahead-basic">Buscar:</label>
                <div class="row">
                    <div class="md-9">
                        <input class="md-9" id="typeahead-basic" type="text" class="form-control" [(ngModel)]="filtro"
                            placeholder="Introduce el fabricante" />
                    </div>
                    <button (click)="cambiarPagina()" class="md-2 btn btn-outline-info">Buscar</button>
                </div>
            </div>
            <div class="md-3">&nbsp;</div>
        </div>
        <br>
        <div class="row">
            <div class="md-3">&nbsp;</div>
            <div class="md-6">
                <ngb-accordion *ngFor="let tipoAvion of tiposAviones" #acc="ngbAccordion">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <div style="overflow: auto;">
                                <button (click)="elegir($event, tipoAvion)" class="btn btn-outline-secondary">Elegir</button>
                                &nbsp;
                                <span >{{ tipoAvion.fabricante }} | {{ tipoAvion.modelo }} Tipo:
                                    {{ tipoAvion.tipo }}</span>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div>
                                <label><strong>Año de Fabricación:
                                    </strong></label><label>&nbsp;{{ tipoAvion.anioComienzoFabricacion }}</label>
                            </div>
                            <div>
                                <label><strong>Fuselaje: </strong></label><label>&nbsp;{{ tipoAvion.fuselaje }}</label>
                            </div>
                            <div>
                                <label><strong>Alcance: </strong></label><label>&nbsp;{{ tipoAvion.alcance }}</label>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="tiposAvionesCount"
                    [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
                    [boundaryLinks]="true">
                </ngb-pagination>
            </div>
            <div class="md-3">&nbsp;</div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"
            (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-danger"
            (click)="modal.dismiss(activo.id)">Aceptar</button>
    </div>