<div id="container" class="container-fluid">
    <div class="row">
        <h1 id="tituloDetail">{{ titulo }}</h1>
    </div>
    <br>
    <div class="row">
        <!-- <div class="col-md-4">&nbsp;</div> -->
        <div class="col-md-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">IATA</th>
                        <th scope="col">OACI</th>
                        <th scope="col">Indicativo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input [disabled]="tipo == 'DETAIL'" [(ngModel)]="compania.iata" type="text"></td>
                        <td><input [disabled]="tipo == 'DETAIL'" [(ngModel)]="compania.oaci" type="text"></td>
                        <td><input [disabled]="tipo == 'DETAIL'" [(ngModel)]="compania.indicativo" type="text"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="col-md-4">&nbsp;</div> -->
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row">
                <label for="inputNombre" class="col-sm-2 col-form-label">Nombre:</label>
                <div class="col-sm-10">
                    <input [disabled]="tipo == 'DETAIL'" [(ngModel)]="compania.nombre" type="text" class="form-control"
                        id="inputNombre">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h2>Información de contacto</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="inputTlf" class="col-sm-2 col-form-label">Teléfono:</label>
                        <div class="col-sm-10">
                            <input [disabled]="tipo == 'DETAIL'" [(ngModel)]="compania.telefono" type="number"
                                class="form-control" id="inputTlf">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="inputSede" class="col-sm-2 col-form-label">Sede:</label>
                        <div class="col-sm-10">
                            <input [disabled]="tipo == 'DETAIL'" [(ngModel)]="compania.sede" type="text"
                                class="form-control" id="inputSede">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="inputWeb" class="col-sm-2 col-form-label">Web:</label>
                        <div class="col-sm-10">
                            <input [disabled]="tipo == 'DETAIL'" [(ngModel)]="compania.web" type="text"
                                class="form-control" id="inputWeb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="botones" class="row">
        <div class="col-md-10">
            <button id="btnCancelar" (click)="cancelar()" *ngIf="tipo != 'DETAIL'" class="btn btn-outline-secondary">Cancelar</button>
            <span *ngIf="tipo == 'DETAIL'">
                <button (click)="volver()" class="btn btn-outline-secondary">Volver</button>
                &nbsp;
                <button (click)="abrirModal()" class="btn btn-outline-danger">Eliminar</button>
                &nbsp;
                <button (click)="cambiarTipo('EDIT')" class="btn btn-outline-primary">Editar</button>
            </span>
        </div>
        <div class="col-md-2">
            <button (click)="guardar()" *ngIf="tipo != 'DETAIL'" class="btn btn-outline-primary"
             [disabled]="compania.iata == null || compania.oaci == null || compania.indicativo == null ||
             compania.nombre == null || compania.telefono == null || compania.sede == null || compania.web == null"
             >Guardar</button>
        </div>
    </div>
</div>